{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="display-3">{{ page_title }}</h1>
		<br><br>
	</div>
	<div class="col-md-12 text-center">
		{% for image in images %}
			&emsp;&emsp;
			<img id="{{ forloop.counter0 }}" src="{% static '' %}images/{{ cartella_img }}/{{ image }}" class="choice_image"
				onclick="return on_click_image(this.id);"/>
			&emsp;&emsp;
		{% endfor %}
	</div>

	
	<!--
	javascript code: function _ connect to the element using the id of the element
	function on_click_image transform the variable selected_image into the id: index
	function on_click_submit disabled if images are not selected and move to the next page otherwise
	&choice= refers to the parameter http that we get in views.py and will be equal to "selected_image"
		which is the id of the image taken from the parameter "index" in the for loop
	-->
</div>
<br><br><br><br>
<div class="row">
	<div class="col-md-12">
		<div class="text-center">
			<button id="button_submit" class="btn btn-lg btn-primary" onclick="return on_click_submit({{ tipo_test }})" disabled>Avanti</button>
		</div>
	</div>
</div>

<script>
	var selected_image = null;

	function on_click_image(id){
		// if there was already a selected image then get the image from function _ and remove border
		if(selected_image!==null){
			var image_prec = _(selected_image);
			image_prec.classList.remove('selected_image');
		}
		//new image
		selected_image = id;
		var button = _('button_submit');
		button.disabled = false;
		var image = _(id);
		// add border to the new selected image
		image.classList.add('selected_image');
	}
	// The last three lines remove the disabled class from the button when the button is clicked.
	
	// da "selected_image=id" ottengo l'id dell'immagine selezionata e poi lo passo con "+ selected_image" below
	function on_click_submit(tipo_test){
		_('button_submit').disabled = true;
		location.href="save_choice?num_page={{ num_page }}" + "&choice=" + selected_image + "&tipo_test=" + tipo_test;
	}

</script>
{% endblock %}