{% extends 'template.html' %}
{% load static %}

{% block content %}
<div id="first_page" class="row h-100">
	<div class="col-md-12 my-auto text-center">
		<br><br><br><br><br><br><br>
		<a id="start_button" class="h2 btn btn-lg btn-primary" role="button" onclick="return fullscreen_and_iframe()">Inizio</a>
	</div>
</div>

<iframe id="iframe_fullpage" src="questionnaire_kids" title="Start" class="iframe_fullpage"></iframe>
<script>
	function fullscreen_and_iframe() {
		if (!is_localhost()) {
			openFullscreen();
		}
		_('iframe_fullpage').style.display = 'block';
		_('first_page').style.display = 'none';
	}
</script>
{% endblock %}